
@{
    ViewData["Greeting1"]= "Welcome to the";
    ViewData["Greeting2"] = "Hotel-Name";
}


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
