<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication_MVC_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication_MVC_.styles.css" asp-append-version="true" />
</head>

<body>

    @RenderBody()

    <a value="privacy" asp-controller="Home" asp-action="Privacy2">jasndkjan</a>

    <div class="container">
            &copy; 2022 - WebApplication_MVC_ - <a asp-controller="Home" asp-action="Privacy2">Privacy</a>
        </div>

</body>
</html>