
@model MenuItem;

<style>

    .card{
        z-index: 99;
    }

</style>

<body onload="window.location = '#heading' ">

    <div class="w-25 container align-self-center">

        <h2 id="heading" class="display-5 text-center">Dish Details</h2> 

        <div class="card">
            <img class="card-img-top" src="@Model.ImgUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">
                    TODO: Here Goes the description for the product
                </p>

                <a href="#" class="btn btn-primary">Place Order for @Model.Name</a>

                <p class="card-text"><small class="text-muted">Order Now...</small></p>
            </div>
        </div>

    </div>

</body>
